apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service
  namespace: flight-tracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
    spec:
      containers:
      - name: api-service
        image: api-service:latest
        ports:
        - containerPort: 8080
